body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

#navBar {
    background-color: blue;
    height: 3em;
    padding-block: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#navBar > ul{
    display: flex;
}

#navBar > ul > li > a{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1.6em;
    text-decoration: none;
    /* TODO: hover darstellung hinzufügen */
}

#navBar > ul > li {
    background-color: blueviolet;
    align-items: center;
    width: 15em;
    height: 3em;
    margin-inline: 2em;
    text-align: center;
    border-radius: 0.6em;
}

li {
    /* All listelements get displayed with type none by default */
  list-style-type: none;
}


