body {
  font-size: 8pt;
}

#recipeList {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: 80%;
  background-color: lightblue;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

#recipeList > li {
  width: 20%;
  margin-inline: 2.5%;
  margin-bottom: 5%;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#recipeList > li > a > img {
  width: 100%;
}

#recipeList > li > a > h2 {
  text-align: center;
  overflow: hidden;
  white-space:nowrap; 
  text-overflow: ellipsis;
  margin: 0.5em 1em 0.5em 1em;
}